/* Utility classes */
.margin_y20{
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin_y30{
  margin-top: 30px;
  margin-bottom: 30px;
}



/* Fine utility classes */
.navbar{
  margin: 0;
  border: 0;
}

.bg_aqua{
  background-color: #1abc9c;
}

.bg_blue{
  background-color: #2c3e50;
}

.navbar-default .navbar-brand , .navbar-default .navbar-nav>li>a {
    color: white;
}

.col-lg-4{
  margin: 20px 0;
}

/* Mediaquery */

@media  screen and (min-width: 769px) {
  #cards .col-md-6{
    margin: 10px 0;
  }
  #about .col-sm-12{
    margin-top: 15px;
  }
}
