*{
  font-family: 'Montserrat', sans-serif;
}

/* Utility classes */
.margin_y20{
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin_y30{
  margin-top: 30px;
  margin-bottom: 30px;
}

.padding_y30{
  padding: 30px 0;
}

.bg_aqua{
  background-color: #1abc9c;
}

.bg_blue{
  background-color: #1a252f;
}

.bg_clearblue{
  background-color: #2c3e50;
}

.white{
  color: white;
}

.clearblue{
  color: #2c3e50;
}

.container-sm{
  max-width: 750px;
  margin: auto;
}


/* Intermezzi con linee e stella */
.line_star{
  max-width: 350px;
  margin: auto;
}

.star{
  font-size: 35px;
}

.line_star .col-lg-2 , .line_star .col-md-2 , .line_star .col-sm-2 , .line_star .col-xs-2{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
}

.jumbotron .line_star hr , #about .line_star hr {
  border-top: 4px solid white;
  border-radius: 5px;
}

#cards .line_star hr , #contact .line_star hr {
  border-top: 5px solid #2c3e50;;
  border-radius: 5px;
}

/* Fine utility classes */

/* Commons */
h2{
  font-size: 50px;
  font-weight: 700;
}

h1{
  font-weight: 700;
}

/* Navbar */
nav{
  margin: 0;
  border: 0;
  padding: 15px 0;
}

nav a{
  font-weight: 700;
  font-size: 17px;
}

.navbar-brand{
  font-size: 25px;
}

.navbar-default{
  border: 0;
}

.navbar-default .navbar-brand , .navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #1abc9c;
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}

/* Jumbotron */
.jumbotron .row{
  margin-top: 80px;
  border: 0;
}

.jumbotron img{
  width: 240px;
}

.jumbotron span{
  display: block;
  font-size: 22px;
}

/* Inizio Main */
/* Cards */
#cards .col-lg-4{
  padding: 15px 25px;
}

#cards img{
  width: 100%;
}

/* about */
#about .btn{
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

#about .btn:hover{
  background-color: white;
}

#about , #about .btn{
  font-size: 20px;
}

#about .col-sm-12 , #about .col-xs-12{
  margin: 30px 0;
}

/* Contact */

.form-control {
    border: 0px;
    box-shadow: 0 0px 0px ;
}

textarea{
  resize: none;
}

.form-control:focus {
    box-shadow: 0 0px 0px;
}

#contact .btn{
  padding: 10px 15px;
  margin-top: 0;
  margin-bottom: 60px;
}

#contact .btn:hover {
    color: #fff;
    background-color: #159a80;
    border-color: #148f77;
}

/*Fine del Main  */
/* Inizio Footer */

footer p{
  font-size: 19px;
}

footer i{
  color: white;
  padding: 15px;
  border: 2px solid white;
  border-radius: 50%;
}

footer p a{
  color: #1abc9c;
}

footer p a:hover{
  color: #1abc9c;
}

#footer_superior{
  padding: 50px 0;
}



/* Mediaquery */

@media  screen and (max-width: 767px) {
  #cards .row{
    max-width: 500px;
    margin: auto;
  }
}
@media  screen and (min-width: 768px) {
  #cards .col-md-6{
    margin: 10px 0;
  }
  #about .col-sm-12{
    margin-top: 15px;
  }
}
