/* Utility classes */
.margin_y20{
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin_y30{
  margin-top: 30px;
  margin-bottom: 30px;
}

.padding_y30{
  padding: 30px 0;
}

.bg_aqua{
  background-color: #1abc9c;
}

.bg_blue{
  background-color: #1a252f;
}

.bg_clearblue{
  background-color: #2c3e50;
}

.white{
  color: white;
}

.clearblue{
  color: #2c3e50;
}

/* Fine utility classes */

/* Navbar */
nav{
  margin: 0;
  border: 0;
  padding: 25px 0;
}

.navbar-default {
    border: 0;
}

.navbar-default .navbar-brand , .navbar-default .navbar-nav>li>a {
  color: white;
}

/* Jumbotron */
.jumbotron .row{
  margin-top: 100px;
  border: 0;
}

.jumbotron img{
  width: 240px;
}

/* Inizio Main */
/* Cards */
.col-lg-4{
  margin: 20px 0;
}

#cards img{
  width: 100%;
}

/* about */
.container-sm{
  max-width: 750px;
  margin: auto;
}


/* Mediaquery */

@media  screen and (min-width: 769px) {
  #cards .col-md-6{
    margin: 10px 0;
  }
  #about .col-sm-12{
    margin-top: 15px;
  }
}
